* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  background: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_content img {
  width: 200px;
}

.header_content nav {
  display: flex;
  align-items: center;
}

.header_content ul {
  display: flex;
  margin: 0;
}

.header_content li {
  padding: 0 15px;
  display: inline;
  line-height: 50px;
}

.header_content li a {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;
}

.header_content li i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}

.header_content li button i {
  font-size: 30px;
  vertical-align: middle;
}

.header_content a span {
  display: inline-block;
  transition: all 0.3s;
}

.header_content a:hover span {
  animation: upToDown 0.3s;
}

.header_content button i {
  color: white;
}

.header_content button i span {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  color: black;
  border: 2px solid black;
}

#products .card-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: #d70018;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.card-title,
.card-text {
  height: 50px;
}

a {
  color: #007bff;
  text-decoration: none;
}

.footer_main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  transition: all 0.5s;
  font-size: 16px;
  color: #007bff;
  background-color: white;
}

form span {
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px 0 4px;
}
